version: "3.9"

services:

  db:
    image: postgres:14
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - kubenet

  web:
    build: .
    command: gunicorn kubewatch.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file: .env
    networks:
      - kubenet

  worker:
    build: .
    command: ./worker/docker_worker.sh
    depends_on:
      - db
    env_file: .env
    networks:
      - kubenet

  alertmanager:
    image: prom/alertmanager
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
      - ./slack_webhook_url:/etc/alertmanager/slack_webhook_url
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
    ports:
      - "9093:9093"
    networks:
      - kubenet

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert.rules.yml:/etc/prometheus/alert.rules.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    depends_on:
      - web
      - alertmanager
    networks:
      - kubenet

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    networks:
      - kubenet
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  pgdata:
  grafana-data:

networks:
  kubenet:
